<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
	<title>MonCoach</title>
</head>
<body>
	
	<nav class="navbar  navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a id="brand" class="navbar-brand" href="/">Mon Coach</a>
            </div>
            <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">    
                    <li> <a id="signUp" href="/coaches/nouveau">Devenez coach</a></li>              

                    <% if(!currentUser){ %>
                        <li> <a id="login" href="/login">Connexion</a></li>
                        <li> <a id="signUp" href="/register">Inscription</a></li> 
                <% } else{ %>
                        <li> <a><strong><%=currentUser.username || currentUser.facebook.name %></strong></a></li>
                        <li> <a href="/logout">Déconnectez-vous</a></li>
                    <% } %>         
                                                                        
                    <!-- <li> <a href="/logout">Logout</a></li> -->
            </ul>
         </div>
       </div>
</nav>
	