<form action="/register" method="POST">
	<input type="text" placeholder="Identifiant" name="username">
	<input type="password" placeholder="Mot de Passe" name="password">
	<input type="submit" value="Confirmez">
</form>

<h3>Ou bien utilisez Facebook pour vous enregistrer</h3>
<li><a href="/auth/facebook">Facebook</a></li>